@model WebApplication.Models.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @{
            var myQuery = from s in (ViewBag.Songs as IEnumerable<WebApplication.Models.Song>) where s.GenreId == Model.Id select s;
        }
        <ul >
        @foreach (var item in myQuery)
        {
            <li>@item.Name</li>
        }
        </ul>
            

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
