{{# if products }}
	<div class="row">
		<div class="col-sm-6 col-md-offset-3 col-sm-offset-3">
			<ul class="list-group">
				{{#each products}}
				<li class="list-group-item align-items-center">
					<strong> {{ this.item.title }} </strong>
					<span class="badge badge-success badge-pill"> $ {{ this.item.price }} </span>
					<div class="btn-group">
						<button type="button" class="btn btn-warning">
							<a href="/reduce-by-one/{{this.item._id}}"> Reduce by one <span class="caret"></span></a>
						</button>
						<button type="button" class="btn btn-danger">
							<a href="/remove-all/{{this.item._id}}"> Remove all <span class="caret"></span></a>
						</button>
					</div>
					<span class="badge badge-secondary" style="float:right">{{ this.qty }}</span>
				</li>
				{{/each}}
			</ul>	
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-sm-6 col-md-offset-3 col-sm-offset-3 ">
			<strong> Total: $ {{ totalPrice }}</strong>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-6 col-md-offset-3 col-sm-offset-3">
			<a href="/checkout" type="button" class="btn btn-success"> Checkout </a>
		</div>
	</div>

{{ else }}

	<div class="row">
		<div class="col-sm-6 col-md-offset-3 col-sm-offset-3">
			<br>
			<h2> No items in Cart </h2>  
		</div>
	</div>
	
{{/if}}